
<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{./layouts/user.html}"
     layout:fragment="content">

    <h1>
        <span th:text="#{label_org_esupportail_nfctag_domain_device}"></span> :
        <span th:text="${device.imei}"></span>
    </h1>

    <form th:action="@{/manager/devices}" th:object="${device}" th:method="${device.id == null} ? POST : PUT" class="form-horizontal">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{version}"/>

        <div class="form-group">
            <label th:for="*{numeroId}" th:text="#{label_org_esupportail_nfctag_domain_device_numeroid}" class="col-lg-4 control-label"></label>
            <div class="col-lg-6">
                <input type="text" class="form-control" th:field="*{numeroId}" />
            </div>
        </div>

        <div class="form-group">
            <label th:for="*{macAddress}" th:text="#{label_org_esupportail_nfctag_domain_device_macaddress}" class="col-lg-4 control-label"></label>
            <div class="col-lg-6">
                <input type="text" class="form-control" th:field="*{macAddress}" />
            </div>
        </div>

        <div class="form-group">
            <label th:for="*{imei}" th:text="#{label_org_esupportail_nfctag_domain_device_imei}" class="col-lg-4 control-label"></label>
            <div class="col-lg-6">
                <input type="text" class="form-control" th:field="*{imei}" />
            </div>
        </div>

        <div class="form-group">
            <label th:for="*{userAgent}" th:text="#{label_org_esupportail_nfctag_domain_device_useragent}" class="col-lg-4 control-label"></label>
            <div class="col-lg-6">
                <input type="text" class="form-control" th:field="*{userAgent}" />
            </div>
        </div>

        <div class="form-group">
            <label th:for="*{application}" th:text="#{label_org_esupportail_nfctag_domain_device_application}" class="col-lg-4 control-label"></label>
            <div class="col-lg-6">
                <select class="form-control" th:field="*{application}">
                    <option th:each="app : ${applications}"
                            th:value="${app.id}"
                            th:text="${app.name}"></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label th:for="*{location}" th:text="#{label_org_esupportail_nfctag_domain_device_location}" class="col-lg-4 control-label"></label>
            <div class="col-lg-6">
                <select class="form-control" th:field="*{location}">
                    <option th:value="${device.location}" th:text="${device.location}"></option>
                    <!-- Ajouter ici les autres options dynamiquement si besoin -->
                </select>
            </div>
            <div id="loading" class="col-lg-1" style="display: none;">
                <div class="glyphicon glyphicon-refresh spinning"></div>
            </div>
        </div>

        <div class="form-group">
            <label th:for="*{eppnInit}" th:text="#{label_org_esupportail_nfctag_domain_device_eppninit}" class="col-lg-4 control-label"></label>
            <div class="col-lg-6">
                <input type="text" class="form-control" th:field="*{eppnInit}" />
            </div>
        </div>

        <div class="form-group">
            <label th:for="*{validateAuthWoConfirmation}" th:text="#{label_org_esupportail_nfctag_domain_device_validateauthwoconfirmation}" class="col-lg-4 control-label"></label>
            <div class="col-lg-6">
                <input type="checkbox" th:field="*{validateAuthWoConfirmation}" />
            </div>
        </div>

        <div class="form-group">
            <label th:for="*{lastPollDate}" th:text="#{label_org_esupportail_nfctag_domain_device_lastpolldate}" class="col-lg-4 control-label"></label>
            <div class="col-lg-6">
                <input type="datetime-local" class="form-control" th:field="*{lastPollDate}" th:if="${device.lastPollDate != null}" th:value="${#dates.format(device.lastPollDate, device_lastpolldate_date_format)}"/>
            </div>
        </div>

        <div class="form-group">
            <label th:for="*{createDate}" th:text="#{label_org_esupportail_nfctag_domain_device_createdate}" class="col-lg-4 control-label"></label>
            <div class="col-lg-6">
                <input type="text" class="form-control" th:field="*{createDate}" readonly="readonly" th:value="${#dates.format(device.createDate, device_createdate_date_format)}"/>
            </div>
        </div>

        <div class="form-group">
            <label th:for="*{lastUseDate}" th:text="#{label_org_esupportail_nfctag_domain_device_lastusedate}" class="col-lg-4 control-label"></label>
            <div class="col-lg-6">
                <input type="text" class="form-control" th:field="*{lastUseDate}" readonly="readonly" th:value="${#dates.format(device.lastUseDate, device_lastusedate_date_format)}"/>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" th:text="#{button_save}"></button>
    </form>

    <div th:if="${device.id != null}">
        <form th:action="@{/manager/devices/{id}(id=${device.id})}" th:method="DELETE" class="form-horizontal">
            <button type="submit" class="btn btn-danger" th:text="#{entity_delete(${device.imei})}"></button>
        </form>
    </div>

</div>