
<th:block xmlns:th="http://www.thymeleaf.org"
    th:fragment="head">
    <link rel="SHORTCUT ICON" th:href="@{/resources/images/favicon.ico}" />
    <link rel="icon" sizes="16x16" type="image/png" th:href="@{/resources/images/favicon-16x16.png}" />
    <link rel="icon" sizes="32x32" type="image/png" th:href="@{/resources/images/favicon-32x32.png}" />
    <link rel="icon" sizes="96x96" type="image/png" th:href="@{/resources/images/favicon-96x96.png}" />
    <link rel="icon" sizes="192x192" type="image/png" th:href="@{/resources/images/favicon-192x192.png}" />
    <meta name="theme-color" content="#000000" />

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/chartjs/Chart.min.css}" th:if="${active} == 'stats'"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/esupnfctag.css}" />

    <script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript" defer></script>
    <script th:src="@{/webjars/jquery-validation/jquery.validate.min.js}" type="text/javascript" defer></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript" defer></script>
    <script th:src="@{/resources/js/mustache.js}" type="text/javascript" defer></script>
    <script th:src="@{/resources/js/jquery.mustache.js}" type="text/javascript" defer></script>
    <script th:src="@{/webjars/chartjs/Chart.min.js}" type="text/javascript"  th:if="${active} == 'stats'" defer></script>
    <script th:src="@{/resources/js/esupnfctag.js}" type="text/javascript" defer></script>
</th:block>
