<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{./layouts/user.html}">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{error_resourcenotfound_title}">Ressource non trouvée</title>
</head>
<body>
<div layout:fragment="content">
    <div class="panel">
        <div class="panel-heading">
            <h2 th:text="#{error_resourcenotfound_title}">Ressource non trouvée</h2>
        </div>
        <div class="panel-body">
            <p th:text="#{error_resourcenotfound_problemdescription}">
                La ressource demandée n'existe pas ou n'est pas accessible.
            </p>
            <div th:if="${exception != null}">
                <h4 th:text="#{exception_details}">Détails de l'exception</h4>
                <div class="panel panel-warning">
                    <div class="panel-heading" th:text="#{exception_message}">Message</div>
                    <div class="panel-body" th:text="${exception.localizedMessage}"></div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" th:text="#{exception_stacktrace}">Stacktrace</div>
                    <div class="panel-body">
                        <div th:each="trace : ${exception.stackTrace}">
                            <span th:text="${trace}"></span><br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>