
<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{./layouts/user.html}"
     layout:fragment="content">
    <div class="row">
        <div id="newLog" class="oldLog col-lg-12">
            <table class="table table-bordered table-hover">
                <tbody id="lastleoauth"><!--  --></tbody>
            </table>
        </div>
    </div>
    &nbsp;
    <div id="debug" class="text-warning"><!--  --></div>
    <script>
        var validateAuthWoConfirmation = true;
        var isDisplay = false;
        var numeroId = "[[${numeroId}]]";
    </script>
</div>